.details {
    margin: 0 auto;
    padding: 32px 16px;
}

.details__link {
    display: inline-block;
    margin-bottom: 24px;
    color: #2563ed;
}

.details__link:hover {
    color: #1e40af;
}

.details__loading {
    text-align: center;
    padding: 48px;
}

.details__error {
    text-align: center;
    color: rgb(235, 49, 49);
    padding: 48px 0;
}

.details__container {
    background: whitesmoke;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.details__block {
    display: flex;
}

.details__card {
    width: 33.3%;
}

.details__info {
    width: 66.6%;
    padding: 24px;
}

.details__title {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 700;
}